<!DOCTYPE html>
<html>
<head>
  <title>Authentication Failure: Event Registration</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <%= stylesheet_link_tag    "reports", media: "print"%>

  <%= javascript_include_tag "application","jquery.validate","jquery.maskedinput","city-resizer", :cache => false %>


  <%= csrf_meta_tags %>
  <!-- BEGIN FOXYCART FILES -->
  <link rel="stylesheet" href="//cdn.foxycart.com/static/scripts/colorbox/1.3.23/style1_fc/colorbox.css?ver=1" type="text/css" media="screen" charset="utf-8" />
  <script src="//cdn.foxycart.com/2riverchurches/foxycart.colorbox.js?ver=2" type="text/javascript" charset="utf-8"></script>
  <!-- END FOXYCART FILES -->

</head>
<body onload="load()">

<h1>Uh Oh!</h1>
<p>We had a problem authenticating you. Usually, this is a problem with your browser blocking cookies. Please see
  the instructions below for accepting cookies.</p>

<p>In some cases this might work just by


<%= link_to "clicking here", safari_cookie_path(city_data: @raw_city_data, city_data_iv: @raw_city_data_iv), target: "_blank", class: "btn btn_go" %>
<br>
A page will momentarily appear and then disappear.  You will only need to do this once.</p>

<p>If that doesn't work please see the instructions below to enable third-party cookies in your browser.</p>

<h2>Safari on Macs</h2>
<ol>
  <li>Click on the "Safari" menu in the upper-left hand corner of your screen</li>
  <li>Click on "Preferences"</li>
  <li>Choose the "Privacy" Tab</li>
  <li>Change "Block Cookies," to "Never"</li>
</ol>

<a href="http://www.silvermac.com/cookies-in-safari-6/" target="_blank">See this page</a> for step by step instructions with photos.
<br />

<h2>iOs (iPhone & iPad)</h2>
<ol>
  <li>Open up Settings</li>
  <li>Choose Safari</li>
  <li>Find "Accept Cookies"</li>
  <li>Set to "Always"</li>
</ol>
<br />

<h2>Internet Explorer</h2>
<ol>
  <li>Click on the gear icon in the upper right hand corner of Internet Explorer. (Be careful, there is one on this page
    for the City, and another one a little above that for Internet Explorer</li>
  <li>Click on "Internet Options"</li>
  <li>Click on the "Privacy" tab in the window that comes up</li>
  <li>Click on the "Advanced" button on this page</li>
  <li>Check the box that says, "Override automatic cookie handling."</li>
  <li>Under "Third-party Coookies" make sure "Accept" is chosen</li>
  <li>Hit "OK"</li>
  <li>Hit "OK" again.</li>
  <li>Reload this page by click on "Event Registration" to the left.</li>
</ol>

<%= yield %>

<ul>
  <li class="grid-12-12 noPrint"><%= debug(params) if Rails.env.development? %></li>
</ul>

<script>

    function load()
    {

        TheCity.PluginHelper.resizeIFrame({
            subdomain: '2rc',    //Change this to your City subdomain
            useSSL: false,       //Whether or not your plugin uses SSL
            extra: 0,           //Extra number of pixels to expand iFrame height to
            //(newHeight= documentHeight + extra)
            refresh: 0,        //How often to check for new documentHeight, 0 to disable,
            forceResize: true  //By default the plugin doesn't resize if the height is within
            //85px of the last time it was called. Set to true to override
        });
    }

</script>

</body>
</html>